<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>修改页面</title>
    <script type="application/javascript" src="/jquery-3.3.1.min.js"></script>
    <script type="application/javascript">
        $(document).ready(function () {
            $("#title").blur(hasTitle);
        });
        function hasTitle() {
            var title = $('#title').val();
            $.ajax({
                url:'/hasTitle?title='+title,
                success:function(data){
                    if('0'!=data){
                        $('#titleWarn').text('此论文题目已存在，请重新输入');
                        return false;
                    }
                }
            });
        }
        function goBack() {
            window.history.go(-1);
        }
        function vSubmit(){
            var cf = confirm('是否确认提交数据');
            if(cf == true){
                var title = $('#title').val();
                var paperSummary = $('#paperSummary').val();

                if(''==title){
                    $('#titleWarn').text('论文题目不能为空');
                    return false;
                }

                if(''==paperSummary){
                    $('#paperSummaryWarn').text('论文摘要不能为空');
                    return false;
                }
                var filepath = $("input[name='file']").val();
                var extStart = filepath.lastIndexOf(".");
                var ext = filepath.substring(extStart, filepath.length).toUpperCase();
                /*if(ext!='.DOC'&&ext!='.DOCX'){
                    $('#fileWarn').text('上传文件格式不正确!');
                    return false;
                }*/
                $.ajax({
                    url:'/hasTitle?title='+title,
                    success:function(adata){
                        if('0'==adata){
                            $('#addForm').attr("action","/add");
                            $('#addForm').submit();
                        } else {
                            $('#titleWarn').text('此论文题目已存在，请重新输入');
                            return false;
                        }
                    }
                });
            } else {
                return false;
            }
        }
    </script>
</head>
<body>
<div align="center" style="font-size: 25pt;">论文管理系统</div>
<span style="float: left;">欢迎您! <strong th:text="${session.user.userName }"></strong>
		<a href="/logout">注销</a></span>
<table border="1" cellspacing="0" style="height: 80%; width: 100%;">
    <tr style="height: 100%;">
        <td style="text-align: -webkit-center; width: 160px;" valign="top">
            <table>
                <tr height="50px">
                    <td>功能列表</td>
                </tr>
                <tr height="30px">
                    <td><a href="javascript:alert('功能未实现')">用户管理</a></td>
                </tr>
                <tr height="30px">
                    <td><a href="/listPaper">论文管理</a></td>
                </tr>
                <tr height="30px">
                    <td><a href="javascript:alert('功能未实现')">公共代码</a></td>
                </tr>
                <tr height="30px">
                    <td><a href="javascript:alert('功能未实现')">退出系统</a></td>
                </tr>
            </table>
        </td>
        <td height="100%">
            <div style="height: 100%; margin: 20px;">
                <div align="left" style="padding-top: 10px; padding-bottom: 10px;">
                    你现在所在的位置是:论文管理页面>>论文发表页面</div>
                <form id="addForm" method="post" enctype="multipart/form-data">
                    <table style="margin: auto;border: 1px solid #151515">
                        <tr>
                            <td>论文题目：</td>
                            <td><input type="text" id="title" name="title" th:value="${paper.title }"/>
                                <span color="red" id="titleWarn">*</span></td>
                        </tr>
                        <tr>
                            <td>论文类型：</td>
                            <td>
                                <select name="type">
                                    <th:block th:each="c,st:${codeList}">
                                        <option th:value="${c.id }"
                                                th:selected="${c.id==paper.type }"
                                                th:text="${c.codeName}">selected
                                        </option>
                                    </th:block>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>论文摘要：</td>
                            <td>
                                <textarea rows="6" cols="25" name="paperSummary" id="paperSummary"
                                 th:text="${paper.paperSummary }">
                                </textarea><font color="red" id="paperSummaryWarn">*</font>
                            </td>
                        </tr>
                        <tr>
                            <td>论文类型：</td>
                            <td><input type="file" name="file"><font color="red">*上传大小不能超过5M，<font color="red" id="fileWarn">*上传文件类型必须为doc,docx</font></font></td>
                        </tr>

                        <tr>
                            <td colspan="2" style="text-align: center;">
                                <input type="button" value="提交" onclick="vSubmit();">
                                <input type="button" value="返回" onclick="goBack()">
                            </td>
                        </tr>
                    </table>
                </form>
            </div>

        </td>
    </tr>
</table>
</body>
</html>